/* Resets */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

img, svg {
    display: block;
    max-width: 100%;
}

/* Variables */
:root{
--clr-primary: hsl(4, 100%, 67%);
--clr-accent-1: hsl(234, 29%, 20%);
--clr-main-bg: hsl(235, 18%, 26%);
--clr-grey: hsl(231, 7%, 60%);
--clr-white: hsl(0, 0%, 100%);

--p-font-size: 16px;
}

/* Misc. */
html {
    font-size: 16px;
}



body {
    background-color: var(--clr-main-bg);
    font-family: 'Roboto';
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Form submit page */
.main-container {
    background-color: var(--clr-white);
    margin-top: 10%;
    max-width: 60%;
    
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.sign-up {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr;
    padding: 10% 0;
    max-width: 80%;
    margin-left: 15%;
    
}

.titles {
    padding-top: 2.5rem;
}

h1 {
    color: var(--clr-accent-1);
    font-size: 2.5em;
}
.sub-title {
    padding-top: 1.7rem;
    padding-bottom: 1.5rem;
}

.updates {
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 80%;
    gap: 1rem;

}

.email-form label,
.email-form button {
    display: block;
}

.email-form label {
    font-size: 1.5vh;
    font-weight: 600;
    margin-top: 2rem;
    padding-bottom: .4rem;
}

#email, .btn {   
    height: 3rem;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1.2rem;
}

.btn{
    background-color: var(--clr-accent-1);
    color: var(--clr-white);
    border: none;
    outline: none;
    transition: all 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn:hover,
.btn:focus {
    cursor: pointer;
    background: rgb(223,73,99);
    background-image: linear-gradient(90deg, rgba(223,73,99,1)
    0%, rgba(227,109,50,1) 100%);
}

.img {
   padding: 2rem;
   
}   

/* After-submit screen */
.subscribed-container {
    background-color: var(--clr-white);
    width: 400px;
    border-radius: 15px;
    padding: 50px;
}

.subscribed-container img, 
.subscribed-container h1,
.subscribed-container p {
    padding-bottom: 2rem;
}


.big-checkmark {
    width: 50px;
}

/* Form submit mobile */
@media  screen and (max-width: 768px){
    .img {
        content: url("../assests/illustration-sign-up-mobile.svg");
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
    .main-container {
        display: flex;
        flex-direction: column-reverse;
        max-width: 95%;
    }
     
    .titles {
        margin-left: 7px;
    }

    .updates {
        margin-left: -35px;
    }

    .email {
        margin-right: 30px;
    }
}

/* After submit mobile */
@media screen and (max-width: 768px) {
    .subscribed-container {
        margin: 0;
        padding: 0;
        height: 100vh;
        border-radius: 0;
    }
   
    .subscribed-container p,
    .subscribed-container h1,
    .big-checkmark {
        margin-left: 25px;
    }

    .big-checkmark {
        padding-top: 120px;
        width: 60px;
    }

    .dismiss {
        margin-top: 220px;
        margin-left: 40px;
        max-width: 80%;   
    }
}
.hide {
    display: none;
}